<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="shortcut icon" type="image/png" href="/dist/favicon.ico"/>
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
    <link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons">
    <title>KD server</title>
    <script>
      window.kd = window.kd || {};
      window.kd.s3BaseURL =  {{ .S3BaseURL }}
    </script>
  </head>
  <body>
    <div id="app"></div>
  </body>
</html>
